mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding: 0;
}

mat-sidenav {
  width: 20vw;
  min-width: 250px;
}

mat-toolbar{
  display: flex;
  justify-content: space-between;
}

