<nav class="navbar navbar-expand-lg navbar-dark bg-dark sanket">
  <div class="container">
    <a routerLink]="['/']">
      <img src="assets/logo.png" height="28" alt="CoolBrand" />
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <!-- **********can use more nav-link buttons here********** -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Other</a>
        </li> -->
      </ul>

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <button dropdownToggle class="btn btn-secondary dropdown-toggle btn-circle btn-circle-sm m-1" aria-controls="dropdown-basic"><img src="assets/user_logo.png" alt="User" />{{ ' '+authService.getDecodedToken()?.unique_name[1] | titlecase}}</button>

        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/profile']">
            <i class="fa fa-user"></i>Profile</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
