<div class="row justify-content-center">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <img
          src="https://image.flaticon.com/icons/svg/2922/2922510.svg"
          class="card-img img-fluid"
          alt="Responsice image"
        />
      </div>
    </div>
    <div class="col-md-8">
      <h4>
        {{ user?.firstName + " " + user?.middleName + " " + user?.lastName }}
      </h4>
      <strong>Gender:</strong>
      <p>{{ user?.gender }}</p>
      <strong>Email: </strong>
      <p>{{ user?.email }}</p>
      <strong>Mobile: </strong>
      <p>{{ user?.phone }}</p>
    </div>
  </div>
</div>
