<div class="container">
  <div class="row justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <img
            src="https://image.flaticon.com/icons/svg/2922/2922510.svg"
            class="card-img img-fluid"
            alt="Responsice image"
          />
        </div>
      </div>
      <div class="col-md-8 mt-1">
        <strong>
          <h1>
            {{ user?.firstName + " " + user?.middleName + " " + user?.lastName }}
          </h1>
        </strong>
        <strong>Gender:</strong>
        <p>{{user?.gender=='m'?'Male':'Female'}}</p>
        <strong>Email: </strong>
        <p>{{ user?.email }}</p>
        <strong>Mobile: </strong>
        <p>{{ user?.phone }}</p>
      </div>
      <button class="btn btn-danger" type="button" (click)="onBack()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
      </svg> Back</button>
    </div>
  </div>
</div>

